.newReleaseContainer{
    background-color: var(--main-color);
    min-height: 100vh;
    height: 100%;
    width: 100vw;
}

.refreshButton{
    display: flex;
    margin: 0 auto;
    border: 1px solid rgba(0, 255, 255, 0.315);
    color: rgba(0, 255, 255, 0.767);
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}